<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	
	<div class="container">
		<h1>WISOM STUDIO</h1>
		
		<div class="card" style="width: 18rem;">
  			<img src="/images/wisom.png" height="500px" width="500px">
  				<div class="card-body">
    			<h5 class="card-title">Bienvenido</h5>
    			<p class="card-text">Una empresa dedicada al arte y a la innovación</p>
  			</div>
		</div>
		
		
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
</body>
</html>
